In [1]:
import pandas as pd
import json 
import re

In [2]:
credits = pd.read_csv('tmdb_5000_credits.csv')
movies = pd.read_csv('tmdb_5000_movies.csv')

ESERCIZIO PUNTO UNO
 number of cast members

In [3]:
array = []

for i in range(len(credits)):
    temp = json.loads(credits.cast[i])
    array.append(len(temp))
credits['n_cast_mambers'] = array

In [4]:
credits.head()

,movie_id,title,cast,crew,n_cast_mambers
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",83
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",34
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",83
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",158
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",27

ESERCIZIO PUNTO DUE
    how many movies have no homepage

In [5]:
len(movies[movies['homepage'].isnull()])

3091

ESERCIZIO PUNTO TRE
    for each year how many movies have no homepage

In [6]:
sub = movies[['homepage','release_date']]
sub['anno'] = sub['release_date'].str.split('-', expand=True)[0]

C:\Users\tesot\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
sub[sub['homepage'].isnull()].groupby('anno').size().head()

anno
1916    1
1925    1
1927    1
1929    2
1930    1
dtype: int64

ESERCIZIO PUNTO QUATTRO
    extract the domain

In [8]:
array_domain = []

for i in range(len(movies)):
    temporaneo = re.findall('//([\w]+[\.]?[\w]+[\.]?[\w]+)', str(movies['homepage'][i]))
    array_domain.append(temporaneo)
movies['dominio'] = array_domain

ESERCIZIO PUNTO CINQUE 
extract a set normalized tables

In [62]:
#ho creato un set di tabelle normalizzate che mostrano il cast per i primi 100 film del dataset credit

n_film = credits['movie_id'][:50]

for i in range(len(n_film)):
    whole_cast = json.loads(credits['cast'][i])
    colonne = ['cast_id','character','credit_id','gender','id','name']
    globals()['movie_'+str(n_film[i])] = pd.DataFrame(columns = colonne)
    
    for a in range(len(whole_cast)):
        tempp = list(whole_cast[a].values())
        del tempp[-1]
        globals()['movie_'+str(n_film[i])].loc[a] = tempp  

#per chiamare la tabella normalizzata basta scrivere movie_(movie_id)
#ad esempio :
movie_19995.head()

6.04 s ± 17.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

ESERCIZIO PUNTO SEI compute the gross margin

In [11]:
movies['gross_margin'] = movies['revenue'] - movies['budget']

In [12]:
movies[['title','gross_margin']].head()

                                      title  gross_margin
0                                    Avatar    2550965087
1  Pirates of the Caribbean: At World's End     661000000
2                                   Spectre     635674609
3                     The Dark Knight Rises     834939099
4                               John Carter      24139100

ESERCIZIO PUNTO SETTE compute the number of crew members

In [13]:
array_crew = []

for i in range(len(credits)):
    crew_members = json.loads(credits['crew'][i])
    array_crew.append(len(crew_members))
credits['crew_members'] = array_crew

In [14]:
credits.head()

,movie_id,title,cast,crew,n_cast_mambers,crew_members
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",83,153
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",34,32
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",83,155
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",158,217
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",27,132

ESERCIZIO PUNTO OTTO number of directors

In [15]:
array_directors = []

for a in range(len(credits)):
    counter = 0
    movie_crew = json.loads(credits['crew'][a])
    
    for b in range(len(movie_crew)):
        for job in movie_crew[b].values():
            if job == 'Director':
                counter = counter + 1
    
    array_directors.append(counter)
credits['number_of_directors'] = array_directors

In [16]:
credits.tail()

,movie_id,title,cast,crew,n_cast_mambers,crew_members,number_of_directors
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",7,11,1
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",5,8,1
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de...",7,13,1
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",5,2,1
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",8,5,3

ESERCIZIO PUNTO NOVE number of movies where each language is spoken

In [17]:
language_list = []

for i in range(len(movies)):
    intermedio = json.loads(movies['spoken_languages'][i])
    for j in range(len(intermedio)):
        scatola = intermedio[j].get('name')
        language_list.append(scatola)
    
#ora basta contare gli elementi nella lista
from collections import Counter
conta = Counter()
for item in language_list:
    conta[item] += 1
conta.most_common(5)

[('English', 4485),
 ('Français', 437),
 ('Español', 351),
 ('Deutsch', 262),
 ('Italiano', 188)]

ESERCIZIO PUNTO DIECI overall revenue for each company and decade

In [18]:
#creo un subset per facilitare la lettura
subs = movies[['original_title','production_companies','release_date','revenue']]
#nel dataset c'è un film che non ha ne casa di produzione con anno 2015,
#lascio vuoto
subs['release_date']=pd.to_datetime(subs['release_date'])

C:\Users\tesot\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [19]:
companies = []
revenues = []
years = []
for i in range(len(subs)):
    production_c = json.loads(subs['production_companies'][i])
    for k in production_c:
        companies.append(k.get('name'))
        revenues.append(subs['revenue'][i])
        years.append(int(subs['release_date'][i].year))
#il metodo più conveniente è creare un dataframe in cui inserisco i dati, serve anche dopo
dataf = pd.DataFrame(columns=['company','revenue','year'])
dataf['company'], dataf['revenue'], dataf['year'] = companies, revenues, years 
#ora devo raggruppare gli anni per decadi e per company

In [20]:
dataf.head()

                                  company     revenue  year
0                 Ingenious Film Partners  2787965087  2009
1  Twentieth Century Fox Film Corporation  2787965087  2009
2                      Dune Entertainment  2787965087  2009
3                Lightstorm Entertainment  2787965087  2009
4                    Walt Disney Pictures   961000000  2007

In [21]:
dataf.groupby(['company',(dataf['year']//10)*10])['revenue'].sum().head()

company                          year
"DIA" Productions GmbH & Co. KG  2000    44350926
1.85 Films                       2010       98017
10 West Studios                  2010           0
100 Bares                        2000    33965843
                                 2010    24000000
Name: revenue, dtype: int64

ESERCIZIO PUNTO UNDICI for each decade compute the company with max revenue

In [22]:
grouped = dataf.groupby([(dataf['year']//10)*10,'company'])['revenue'].max()
grouped.head(5)

year  company
1910  Triangle Film Corporation     8394751
      Wark Producing Corp.          8394751
1920  Metro-Goldwyn-Mayer (MGM)    22000000
      Nero Films                          0
      Paramount Pictures             650422
Name: revenue, dtype: int64

In [23]:
#estraggo i valori indice relativi all'anno
indice_anno = grouped.index.levels[0].values
indice = []
valore = []

for i in range(len(indice_anno)):
    part_anno = grouped.loc[grouped.index.get_level_values('year') == indice_anno[i]]
    max_rev = part_anno.max()
    tempo_ = part_anno[part_anno == max_rev]
    for a in range(len(tempo_)):
        indice.append(tempo_.index[a])
        valore.append(tempo_.values[a])
#ottengo cosi le aziende che per ogni decennio hanno avuto una revenue tra le più alte
final_dict = dict(zip(indice, valore))
final_dict

{(1910, 'Triangle Film Corporation'): 8394751,
 (1910, 'Wark Producing Corp.'): 8394751,
 (1920, 'Metro-Goldwyn-Mayer (MGM)'): 22000000,
 (1930, 'Metro-Goldwyn-Mayer (MGM)'): 400176459,
 (1930, 'Selznick International Pictures'): 400176459,
 (1940, 'Walt Disney Productions'): 267447150,
 (1950, 'Paramount Pictures'): 36000000,
 (1950, 'Twentieth Century Fox Film Corporation'): 36000000,
 (1960, 'Argyle Enterprises'): 286214286,
 (1960, 'Robert Wise Productions'): 286214286,
 (1960, 'Twentieth Century Fox Film Corporation'): 286214286,
 (1970, 'Lucasfilm'): 775398007,
 (1970, 'Twentieth Century Fox Film Corporation'): 775398007,
 (1980, 'Amblin Entertainment'): 792910554,
 (1980, 'Universal Pictures'): 792910554,
 (1990, 'Lightstorm Entertainment'): 1845034188,
 (1990, 'Paramount Pictures'): 1845034188,
 (1990, 'Twentieth Century Fox Film Corporation'): 1845034188,
 (2000, 'Dune Entertainment'): 2787965087,
 (2000, 'Ingenious Film Partners'): 2787965087,
 (2000, 'Lightstorm Entertainment'): 2787965087,
 (2000, 'Twentieth Century Fox Film Corporation'): 2787965087,
 (2010, 'Marvel Studios'): 1519557910,
 (2010, 'Paramount Pictures'): 1519557910}

ESERCIZIO DODICI for each year how many movies have revenue < budget

In [24]:
#ancora una volta per comodità restringo il dataset
ultimo = movies[['budget','revenue','release_date','original_title']]
ultimo['anno'] = ultimo['release_date'].str.split('-', expand=True)[0]

C:\Users\tesot\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
ultimo[ultimo['revenue'] < ultimo['budget']].groupby('anno').size().head()#.sort_values(ascending=False).head()

anno
1927    1
1947    1
1948    1
1954    1
1962    1
dtype: int64